.title{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width: 13.2em;
  justify-content: center;
}

.gridContainer{
  margin-left: auto;
  margin-right: auto;
  width: 16.5em
}

.grid{
  display: grid;
  grid-template-columns:  repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
}

.playCell{
  display:flex;
  background-color: green;
  height: 85px;
  width: 85px;
  font-family:sans-serif;
  font-size: 100px;
  color: white;
  justify-content: center;
}

#wrapper {
  display: none;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.75);
}

#endScreen {
  position: relative;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  background-color:rgb(77, 143, 187);
  border-radius: 5px;
  color:rgb(255,255,255);
  text-decoration: none;
  letter-spacing: 1px;
}

.turnText{
  display:inline-block;
  width: auto;
}